html, body {
     display: flex;
     flex-flow: column nowrap;

     justify-content: flex-start;
     min-height: 100%;
     width: 100%;

     background-color: #2e7b96;
     font-family: 'Poppins', sans-serif;
     font-size: 1rem;
}

     header {
          display: flex;
          flex: 1 0 100%;
          flex-flow: row nowrap;

          align-items: center;
          justify-content: space-between;
          max-height: 12rem;
          margin: 1rem 1.4rem 0;
     }

          .logo {
               flex: 1 0 auto;
          }

               .logo img {
                    max-height: 4rem;
               }

          .shop {
               display: flex;
               flex: 1 0 auto;
          }

          .login {
               flex: 1 0 auto;
               justify-content: flex-end;
          }

          .account {
               flex: 1 0 auto;
               justify-content: flex-end;

          }

               .account img {
                    max-height: 3rem;
               }

          .divider {
               flex: 0 0 auto;
               justify-content: flex-end;


               width: 1px;
               height: 3rem;
               margin-right: 1em;

               background-color: black;
          }

          .cart {
               display: flex;
               flex: 1 0 auto;
          }

               .cart img {
                    max-height: 3rem;
               }

               .cart-count {
                    height: 1.4rem;
                    position: absolute;
                    width: 1.4rem;

                    background-color: black;
                    border-radius: 50%;
                    color: white;
                    text-align: center;
               }

          nav a {
               font-size: 1rem;
               padding-right: 1.2em;
               text-transform: uppercase;
          }

          nav a:hover {
               color-background: black;
               text-decoration: overline;
          }

     .headline {
          display: flex;
          flex-flow: column;
          flex: 1 1 auto;

          align-items: center;
          justify-content: center;
          margin: 0 1.4rem;
          }

          .headline img {
               flex: 1 1 auto;

               margin-top: 1rem;
               border: 12px solid #111;
               width: 35%;
          }


     .frame {
          display: flex;
          flex-flow: column nowrap;

          justify-content: center;
          margin: 1.4rem;

          background-color: #f2f2f2
     }

          .categories {
               display: flex;
               flex-flow: row wrap;
               flex: 1 1 auto;

               align-items: center;
               align-content: center;
               justify-content: flex-end;
               margin: 1.4rem;
               min-height: 8rem;
          }

               .label {
                    margin: .2em;
                    padding: .6em;

                    background: transparent;
                    border: 2px solid #2e7b96;
                    font-size: 1em;
                    text-transform: lowercase;
               }

                    .label a {
                         font-size: 1rem;
                    }

                    .label:hover {
                         background: #2e7b96;
                         color: #ffffff;
                         border: 2px solid black;
                    }

          .basic {
               display: block;
          }

          .index {
               -moz-column-count: 4;
               -webkit-column-count: 4;
               column-count: 4;
               -webkit-column-gap: .8rem;
               -moz-column-gap: .8rem;
               column-gap: .8rem;

               margin: 1.4rem;

          }
               main:hover .product {
                    opacity: 0.3;
               }

               main:hover .price, .name {
                    opacity: 0;
               }
               main:hover .product:hover {
                    opacity: 1;
               }

               .product:hover .price, .product:hover .name {
                    opacity: 1;
               }

               .product {
                    display: inline-block;
                    position: relative;
                    transition: .8s opacity;
               }

                    .product img {
                         max-width: 100%;
                    }

                    h4 {
                         opacity: 0;
                         padding: .3rem;
                         margin: 0;
                         position: absolute;
                    }

                    .name {
                         top: 10px;
                         left:10px;
                         background-color: white;
                    }

                    .price {
                         top: 10px;
                         right: 10px;
                         background-color: white;
                    }

          .focus {
               display: flex;
               flex-flow: row nowrap;
               flex: 1 1 100%;

               justify-content: center;
               margin: 1.4rem 1.4rem 0;
               min-height: 40vh;
          }

          .focus-image {
               display: inline;
               flex: 1 1 auto;
          }

               .focus-image img {
                    width: 100%
               }

          .focus-content {
               display: flex;
               flex-flow: column wrap;
               flex: 1 1 auto;

               align-items: center;
               align-content: center;
               justify-content: center;
               padding-left: 1rem;
          }

               .cost {
                    flex: 1 2 auto;
                    justify-content: center;
               }

               .sold-by {
                    flex: 1 2 auto;
                    justify-content: center;
               }

               .rating {
                    flex: 1 2 auto;
                    justify-content: center;
               }

               .add-to-cart {
                    flex: 1 2 auto;
                    align-self: center;
               }

               .submit {
                    flex: 1 2 auto;
                    justify-content: center;
               }

               .tags {
                    display: flex;
                    flex: 1 1 auto;

                    align-items: center;
                    align-content: center;
                    justify-content: flex-end;
                    min-height: 8rem;
               }

          aside {
               display: flex;
               flex-flow: column nowrap;
               flex: 1 1 100%;

               align-items: center;
               margin: 1.4rem;
               min-height: 60vh;
          }

          .horizontal {
               flex: 0 1 auto;
               justify-content: center;
               align-items: center;

               width: 50vw;
               height: 1px;

               background-color: black;
          }

               .reviews {
                    display: flex;
                    flex-flow: column wrap;
                    flex: 1 1 auto;

                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    margin: 1.4rem 1.4rem 0;
                    min-height: 8rem;
               }

                    table {
                         margin: 0 1.4rem 1.4rem;
                    }


          footer {
               display: flex;
               flex-flow: row nowrap;
               flex: 1 0 100%;

               align-items: center;
               justify-content: center;
               max-height: 4rem;
               padding: 2rem;

               background-color: #4c97b1;
          }

               .social {
                    display: flex;
                    flex: 1 1 auto;

                    align-items: center;
                    justify-content: flex-end;
               }

                    .facebook {
                         margin-right: 2rem;

                         background-image: url("social-facebook.png");
                    }

                         .facebook:hover {
                              background-image: url("social-facebook-hover.png");
                         }

                    .instagram {
                         margin-right: 2rem;

                         background-image: url("social-instagram.png");
                    }

                         .instagram:hover {
                              background-image: url("social-instagram-hover.png");
                         }

                    .mail {
                         background-image: url("social-mail.png");
                    }

                         .mail:hover {
                              background-image: url("social-mail-hover.png");
                         }

                    .social-icon {
                         height: 3rem;
                         width: 3rem;

                         background-size: cover;
                    }

                    .social-link {
                         height: 3rem;
                         position: absolute;
                         width: 3rem;

                         background-color: transparent;
                    }
h1, h2, h3, h4, h5, h6, p, a, span {
     margin: 0;
     padding: 0;
}

h1 {
     color: #111;
     font-size: 3.6rem;
     font-weight: bold;
     text-transform: uppercase;
}

h4 {
     color: #4c97b1;
     font-size: 1rem;
     font-weight: 500;
     text-transform: lowercase;
}

h5 {
     font-weight: 300;
     letter-spacing: .06rem;
     text-transform: lowercase;
}

h6 {
     color: white;
     font-size: 1rem;
     font-weight: 300;
     letter-spacing: .06rem;
     text-transform: lowercase;
}

a {
     color: black;
     font-family: 'Poppins', serif;
     font-size: 1.2rem;
     letter-spacing: .1rem;
     text-decoration: none;
     text-transform: lowercase;
}

ul {
     list-style-type: none;
}

input[type=submit] {
     padding: 1rem 3rem;
     margin-bottom: 1rem;

     background-color: #2e7b96;
     border: none;
     color: white;
     display: inline-block;
     font-family: 'Poppins', serif;
     font-size: 1.4em;
     font-weight: 400;
     letter-spacing: .04rem;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
}

input[type=submit]:hover {
     background-color: #4c97b1;
}

input[type=submit].small {
     font-size: .8rem;
}

input:not([type=submit]):not([type=file]), textarea, select {
	background: white;
	border: solid .2rem #2e7b96;
     border-bottom: none;
     border-right: none;
     border-top: none;

	color: #2e7b96;
	font-family: 'Poppins', sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	letter-spacing: .04rem;

	transition: all 0.3s ease-in-out;
}

input:not([type=submit]):not([type=file]) {
	padding: .6rem .6rem;
	margin-bottom: .6rem;

	transition: all 0.3s ease-in-out;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 1.2rem .6rem;
}

textarea, select {
	padding: 1.2rem .6rem;
	margin-bottom: 1rem;
}

input:not([type=submit]):not([type=file]):hover, textarea:hover, select:hover {
	background: white;
	border: solid .6rem #2e7b96;
	border-bottom: none;
	border-right: none;
	border-top: none;

	color: #2e7b96;
}

.button {
     padding: 1rem 3rem;
     margin-bottom: 1rem;

     background-color: #2e7b96;
     border: none;
     color: white;
     display: inline-block;
     font-family: 'Poppins', serif;
     font-size: 1.4em;
     font-weight: 400;
     letter-spacing: .04rem;
     text-align: center;
     text-decoration: none;
     text-transform: uppercase;
}

.button:hover {
     background-color: #4c97b1;
}

.small {
     font-size: .8rem;
}


::-webkit-input-placeholder {
	color: white;
	opacity: 0.3;
}

:-ms-input-placeholder {
	color: white;
	opacity: 0.3;
}

::-moz-placeholder {
	color: white;
	opacity: 0.3;
}

:-moz-placeholder {
	color: white;
	opacity: 0.3;
}

 @media screen and (min-width: 992px) {
      html {
          font-size: 1.2rem;
      }
 }

 @media screen and (max-width: 991px) {
      html {
           font-size: 1rem;
      }

      main {
           -moz-column-count: 3;
           -webkit-column-count: 3;
           column-count: 3;
      }
 }

 @media screen and (max-width: 767px) {
      html {
           font-size: .9rem;
      }

      main {
           -moz-column-count: 2;
           -webkit-column-count: 2;
           column-count: 2;
      }

      .details {
          opacity: 1;
     }

 }

 @media screen and (max-width: 479px) {
      html {
           font-size: .8rem;
      }

      main {
           -moz-column-count: 1;
           -webkit-column-count: 1;
           column-count: 1;
      }

      .details {
          opacity: 1;
     }
 }
