<% content_for :headline do %>
         <h1> Products </h1>
<% end %>

<% content_for :categories do %>
     <% Category.all.each do |category| %>
         <%= link_to category.label, category_products_path(category.id), class: 'label' %>
       <% end %>
<% end %>

<% @products.each do |product| %>
     <div class='product'>
          <h4 class='name'> <%= product.name %></h4>
          <h4 class='price'> <%= product.price %></h4>
          <%= link_to image_tag(product.photo_url), product_path(product.id) %>
     </div>
<% end %>
