
<div>
  <%= link_to "View All Products", products_path %>
</div>

<div>
     <% Category.all.each do |category| %>
         <%= link_to category.label, category_products_path(category.id) %>
       <% end %>
</div>


<!-- <h4><%#= @title %></h4> -->

  <section>
    <% @products.each do |product| %>
        <%= link_to product.name, product_path(product.id)%>
 <%= link_to image_tag(product.photo_url,  class: "product_img"), product_path(product.id) %>
    <% end %>

  </section>
